packages/*/coverage/
packages/*/dist/
packages/*/node_modules/
apps/*/coverage/
apps/*/dist/
apps/*/node_modules/
apps/*/*.tsbuildinfo
.env.sentry
.env.*.local
.dev.vars
**/.dev.vars
**/.dev.vars.*
_external_reviews/

package-lock.json
